/* Tajawal – Self-hosted */
@import './fonts.css';

@import "tailwindcss";
@import "./typography.css";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Tajawal', sans-serif;
}

@theme static {
  /* Scale up font sizes for Arabic readability */
  --text-xs: 0.875rem;
  --text-xs--line-height: 1.375rem;

  --text-sm: 1rem;
  --text-sm--line-height: 1.625rem;

  --text-base: 1.125rem;
  --text-base--line-height: 1.875rem;

  --text-lg: 1.25rem;
  --text-lg--line-height: 2rem;
}

body {
  line-height: 1.8;
}

:root {
  --ui-container: var(--container-6xl);

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-linear-to-r from-primary-500 to-primary-300;
}
