@import "tailwindcss";
@import "./typography.css";
@import "@nuxt/ui";

@theme {
  --font-sans: "Public Sans", sans-serif;
  --font-sans: "Tajawal", sans-serif;

  --container-8xl: 97rem;

  --color-picton-50: #f0f9ff;
  --color-picton-100: #e0f2fe;
  --color-picton-200: #bae6fd;
  --color-picton-300: #7dd3fc;
  --color-picton-400: #38bcf8;
  --color-picton-500: #0ea5ea;
  --color-picton-600: #0283c7;
  --color-picton-700: #0369a1;
  --color-picton-800: #075985;
  --color-picton-900: #0c4a6e;
  --color-picton-950: #082f49;
}

@layer utilities {
  .bg-gradient-primary {
    background-image: var(--gradient-primary);
  }

  .text-gradient {
    background-image: var(--gradient-primary);
    @apply bg-clip-text;
    -webkit-text-fill-color: transparent !important;
  }

  .hover\:text-gradient:hover {
    background-image: var(--gradient-primary);
    @apply bg-clip-text;
    -webkit-text-fill-color: transparent !important;
  }
}

:root {
  --ui-container: var(--container-8xl);
  --gradient-primary: linear-gradient(to right, #0ea5ea, #0bd1d1, 51%, #33a8df);
  /* --ui-bg: var(--ui-color-neutral-900);
  --ui-border: var(--ui-color-slate-900); */
  /* Least prominent text */
  --ui-text-dimmed: var(--ui-color-neutral-500);
  /* Slightly muted text */
  --ui-text-muted: var(--ui-color-neutral-400);
  /* Moderately prominent text */
  --ui-text-toned: var(--ui-color-neutral-300);
  /* Default text color */
  --ui-text: var(--ui-color-neutral-200);
  /* Most prominent text */
  --ui-text-highlighted: var(--color-white);

  /* Main background color */
  --ui-bg: var(--ui-color-neutral-900);
  /* Subtle background */
  --ui-bg-muted: var(--ui-color-neutral-800);
  /* Slightly elevated background */
  --ui-bg-elevated: var(--ui-color-neutral-800);
  /* More prominent background */
  --ui-bg-accented: var(--ui-color-neutral-700);
  /* Inverted background color */
  --ui-bg-inverted: var(--color-white);

  /* Default border color */
  --ui-border: var(--ui-color-neutral-800);
  /* Subtle border */
  --ui-border-muted: var(--ui-color-neutral-700);
  /* More prominent border */
  --ui-border-accented: var(--ui-color-neutral-700);
  /* Inverted border color */
  --ui-border-inverted: var(--color-white);
}
